<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Pang</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet" />

<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- summernote style -->
<link th:href="@{/css/plugins/summernote/summernote.css}"
	rel="stylesheet" />
<link th:href="@{/css/plugins/summernote/summernote-bs3.css}"
	rel="stylesheet" />

</head>

<body>

	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation"
			th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="border-bottom" th:include="header :: headerTop"></div>
			<div class="row wrapper border-bottom white-bg page-heading"
				th:fragment="headerNav">
				<div class="col-lg-10">
					<h2>病人管理</h2>
					<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li><a>病例管理</a></li>
						<li><a>病人管理</a></li>
						<li class="active"><strong>病例</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="wrapper wrapper-content animated fadeInRight">



				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>病人信息</h5>
								<div class="ibox-tools">
								<a th:onclick="'javascript:editPatientcase()'" title="编辑"><i class="fa fa-edit text-navy"></i></a>
									
								</div>
							</div>
							<div class="ibox-content">
								<div>
									<table class="footable table table-stripped toggle-arrow-tiny"
										data-page-size="8">
										<thead>
											<tr>
												<th data-toggle="true">姓名:</th>
												<th><span th:text="${username}" /></th>
												<th>病人编号:</th>
												<th><span th:text="${uuid}" /></th>
												<th>性别:</th>
												<th><span th:text="${sex}" /></th>
												<th>年龄:</th>
												<th><span th:text="${age}" /></th>
											</tr>
										</thead>
									</table>
									<div>
										<div class="ibox-content">
											<form id="formTag" th:action="@{save_patientcase}" 
												method="POST" class="form-horizontal"
												enctype="multipart/form-data">


												<div class="form-group">
												
												
													<label class="col-sm-2 control-label">病例名称</label>
													<div class="col-sm-2">
														<input th:readonly="true" th:value="${patientcase.casename}" id="casename" name="casename" type="text"
															class="form-control" />
													</div>
													
													<div display="none" class="col-sm-1">
														<input  style="display:none"  th:value="${uuid}" id="uuid" name="uuid" type="text"
															class="form-control" />
													</div>
													
													
																										<div display="none" class="col-sm-1">
														<input  style="display:none"  th:value="${patientcase.id}" id="id" name="id" type="text"
															class="form-control" />
													</div>
													<label class="col-sm-2 control-label">发病日期</label>
													<div class="col-sm-2">
														<div class='input-group date' id='datetimepicker1'>
															<input th:readonly="true" th:value="${#dates.format(patientcase.occurancetime, 'yyyy-MM-dd')}" type='text' class="form-control" id="occurancetime" name="occurancetime" /> <span
																class="input-group-addon"> <span
																class="glyphicon glyphicon-calendar"></span>
															</span>
														</div>
													</div>


												</div>

												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-2 control-label">主诉：</label>
													<div class="col-sm-10">
														<textarea th:readonly="true" th:text="${patientcase.maincase}" id="maincase" name="maincase"
															class="form-control" rows="2"></textarea>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-2 control-label">现病史：</label>
													<div class="col-sm-10">
														<textarea th:readonly="true" th:text="${patientcase.casehis}" id="casehis" name="casehis" class="form-control"
															rows="2"></textarea>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-2 control-label">初步诊断：</label>
													<div class="col-sm-10">
														<textarea th:readonly="true" th:text="${patientcase.diagnosis}" id="diagnosis" name="diagnosis"
															class="form-control" rows="2"></textarea>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-2 control-label">治疗意见：</label>
													<div class="col-sm-10">
														<textarea th:readonly="true" th:text="${patientcase.suggestion}" id="suggestion" name="suggestion"
															class="form-control" rows="2"></textarea>
													</div>
												</div>

												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-2 control-label">备注：</label>
													<div class="col-sm-10">
														<textarea th:readonly="true" th:text="${patientcase.remark}" id="remark" name="remark" class="form-control"
															rows="2"></textarea>
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<div class="col-sm-4 col-sm-offset-2">
														<button th:disabled="true" id="submitButton" class="btn btn-primary"
															type="submit">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="footer" th:include="footer :: copyright"></div>
		</div>
	</div>

	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-2.1.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js/inspinia.js}"></script>
	<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

	<!-- Toastr script -->
	<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

	<!-- common -->
	<script th:src="@{/js/common.js}"></script>

	<!-- SUMMERNOTE -->
	<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>
	<link src="@{/css/plugins/datapicker/datepicker3.css}" rel="stylesheet" />
	<!-- Data picker -->
	<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
	<!-- Page-Level Scripts -->
	<script>
		$(document).ready(function() {

			$('#datetimepicker1').datepicker({
				language : 'zh-CN',//显示中文
				format : 'yyyy-mm-dd',//显示格式
				minView : "month",//设置只显示到月份
				initialDate : new Date(),
				autoclose : true,//选中自动关闭
				todayBtn : true,//显示今日按钮
			});


		});
		
		function editPatientcase(){
			var inputList = document.getElementsByTagName("input");
			for ( var item in inputList) {
				if (item == "length") {
					break;
				}
				inputList[item].removeAttribute("readonly");
			}
			
			var texteraList = document.getElementsByTagName("textarea");
			for ( var item in texteraList) {
				if (item == "length") {
					break;
				}
				texteraList[item].removeAttribute("readonly");
			}
			var s = document.getElementById("submitButton").removeAttribute(
					"disabled");
		}
	</script>
</body>

</html>